  <h1>
    <%= image_tag attachments['passportfitnessdc.png'].url %>
  </h1>

<p><%= @potential_partner.studio_name %>, <br><br>

  Thank you for your interest in becoming a partner with us! We will call you within the next 48 hours. If you have any questions in the mean time, feel free to email or call us. <br>
<br>
  Looking forward to speaking with you,<br>
<br>
  Jamie and Nathan<br>
  Co-Founders

</p>
